* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.5px;
}


/* ________ COMMON STYLES ________ */
.flex {
    display: flex;
}
.justify_space_between {
    justify-content: space-between;
}
.justify_center {
    justify-content: center;
}
.align_items_center {
    align-items: center;
}

/* progression line */
.before_dot,
.after_dot {
    display: inline-block;
    height: 4px;
    vertical-align: middle;
}
.before_dot {
    border-radius: 1rem 0 0 1rem;
    background-color: #c1c1c1;
    margin-left: 1rem;
}
.after_dot {
    border-radius: 0 1rem 1rem 0;
    background-color: #5a5a5a;
    margin-right: 1rem;
}
/* end progression line */

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style: none;
}
/* ________ END COMMON STYLES ________ */




/* ________ MAIN ________ */
main {
    height: calc(100vh - 6rem);
    background-color: burlywood;
}

/* ----- LEFT NAVIGATION ----- */
.left_navigation {
    width: 12rem;
    background-color: #000000;
    flex-shrink: 0;
    color: #a3a3a3;
    font-size: .85rem;
    padding: .75rem;

    flex-direction: column;
}

.logo {
    width: 8rem;
}

.playlists li,
.nav_options li {
    margin: .6rem 0;
}


/* nav options section */
.nav_options img {
    width: 1.25rem;
    vertical-align:bottom;
}
/* end nav options section */



/* playlist section */
.playlists {
    max-height: calc((100vh - 6rem) * 0.7);
}
@media screen and (max-height: 220px) {
    .navigation .playlists {
        overflow-y: scroll;
    }    
}

.playlists h3 {
    color: white;
    font-size: .8rem;
    margin-top: 1.5rem;
}

.playlists li {
    text-transform: capitalize;
}

.add_playlist_plus_icon {
    font-size: 1.25rem;
    display: inline-flex;
    vertical-align: middle;
    height: 2rem;
    width: 2rem;
    color: #000;
    background-color: #a3a3a3;
}
/* end playlist section */


/* user info section */
.user_info {
    max-height: calc((100vh - 6rem) * 0.3);
}
/* end user info section */

/* ----- END LEFT NAVIGATION ----- */


/* ----- MAIN CONTENT ----- */
.main_content {
    overflow-y: auto;
    padding-top: 5rem;
}

.subscribe_CTA {
    background-color: rgba(0, 0, 0, 0.637);
    position: fixed;
    top: 0;
    width: calc(100vw - 12rem);
    height: 5rem;

    justify-content: flex-end;
}

.subscribe_CTA_btn {
    background-color: transparent;
    border: 1px white solid;
    padding: .5rem 2rem;
    margin-right: 2rem;
    border-radius: 2rem;
    color: white;
}
/* ----- END MAIN CONTENT ----- */

/* ________ END MAIN ________ */




/* ________ FOOTER ________ */
footer {
    height: 6rem;
    background-color: #282828;

    padding: 0 .5rem;
    position: relative;
    z-index: 9999;
}

/* ------- LEFT COLUMN FOOTER ------- */
.artist_of_playing_song {
    color: grey;
}

.artist_of_playing_song p {
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1rem;
}
.artist_of_playing_song span {
    color: gray;
    font-weight: unset;
    font-size: .85rem;
}

.artist_of_playing_song img {
    max-width: 3rem;
}


/* spacing items */
.artist_of_playing_song  :nth-child(1) {
    margin-right: .75rem;
}
.artist_of_playing_song > :nth-child(1) {
    margin-right: 2rem;
}
/* ------- END LEFT COLUMN FOOTER ------- */


/* ------- MIDDLE COLUMN FOOTER ------- */
.current_song_options {
    text-align: center;
    color: white;
}

.play_btn {
    font-size: 2rem;
}

/* song timeline */
.song_timeline {
    font-size: .75rem;
}

.song_timeline .before_dot {
    width: 5vw;
}
.song_timeline .after_dot {
    width: 25vw;
}


/* spacing icons */
.song_options * {
    margin: 0 .5rem .75rem .5rem;
    vertical-align: middle;
}
.song_options :first-child,
.song_options :last-child {
    margin-left: 1rem;
    margin-right: 1rem;
}
/* ------- END MIDDLE COLUMN FOOTER ------- */


/* ------- RIGHT COLUMN FOOTER ------- */
.spotify_quick_settings {
    color: white;
    font-size: .75rem;
}

.spotify_quick_settings .before_dot {
    width: 2rem;
}
.spotify_quick_settings .after_dot {
    width: 6rem;
}

/* spacing items */
.spotify_quick_settings *:not(.after_dot) {
    margin-left: .75rem;
}
/* ------- END RIGHT COLUMN FOOTER ------- */

/* ________ END FOOTER ________ */