* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 600;
}


/* ________ COMMON STYLES ________ */
.flex {
    display: flex;
}
.justify_space_between {
    justify-content: space-between;
}
.justify_center {
    justify-content: center;
}
.align_items_center {
    align-items: center;
}

/* progression line */
.before_dot,
.after_dot {
    display: inline-block;
    height: 4px;
    vertical-align: middle;
}
.before_dot {
    border-radius: 1rem 0 0 1rem;
    background-color: #c1c1c1;
    margin-left: 1rem;
}
.after_dot {
    border-radius: 0 1rem 1rem 0;
    background-color: #5a5a5a;
    margin-right: 1rem;
}
/* end progression line */

a {
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

h2 {
    margin: 1.5rem 0 .5rem 0;
    margin-left: 1rem;
}
/* ________ END COMMON STYLES ________ */




/* ________ MAIN ________ */
main {
    height: calc(100vh - 6rem);
}

/* ----- LEFT NAVIGATION ----- */
.left_navigation {
    width: 12rem;
    background-color: #000000;
    color: #a3a3a3;
    font-size: .8rem;

    padding-left: .7rem;
    padding-right: .7rem;

    flex-direction: column;
    flex-shrink: 0;
}

.left_navigation li {
    text-transform: capitalize;
}

.logo {
    width: 8rem;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
}


/* nav options section */
.nav_options img {
    width: 1.25rem;
    vertical-align:bottom;
}

.nav_options li {
    padding-top: .4rem;
    padding-bottom: .4rem;
}

.nav_options .active {
    color: white;
    border-left: 3px greenyellow solid;
    position: relative;
    left: -0.7rem;
    padding-left: calc(.7rem - 3px);
}
/* end nav options section */



/* playlist section */
.list_of_playlists {
    overflow-y: auto;
    flex-grow: 1;
}
.list_of_playlists li {
    margin: .85rem 0;
}

.left_navigation h3 {
    color: white;
    font-size: .8rem;
    margin-top: 1rem;
}

.add_playlist {
    margin-top: .75rem;
}
.add_playlist_plus_icon {
    font-size: 1.1rem;
    display: inline-flex;
    vertical-align: middle;
    height: 1.85rem;
    width: 1.85rem;
    color: #000;
    background-color: #a3a3a3;
}
/* end playlist section */


/* user info section */

/* spacing items */
.user_info * {
    margin: .3rem 0;
}


.download_icon,
.profile_image {
    vertical-align: middle;
    margin-right: .5rem;
}

.download_icon {
    width: 1.25rem;
}

.user {
    color: white;
}
.profile_image {
    width: 1.75rem;
    background-color: grey;
    border-radius: 50%;
}
/* end user info section */

/* ----- END LEFT NAVIGATION ----- */


/* ----- MAIN CONTENT ----- */
.main_content {
    overflow-y: auto;
    padding-top: 5rem;
    width: 100%;
    background-color: #141922;
}

/* CTA banner */
.subscribe_CTA {
    background-color: rgba(0, 0, 0, 0.637);
    position: fixed;
    top: 0;
    width: calc(100vw - 12rem);
    height: 5rem;

    justify-content: flex-end;
}
.subscribe_CTA_btn {
    background-color: transparent;
    border: 1px white solid;
    padding: .65rem 2rem;
    margin-right: 2rem;
    border-radius: 2rem;
    color: white;
}


/* music filters */
.music_filters {
    width: 100%;
}
.music_filters a {
    margin: 1rem .75rem;
    text-transform: uppercase;
    color: grey;
    font-size: .8rem;
    position: relative;
}
.music_filters a.active::after {
    content: '';
    display: block;
    width: 1.75rem;
    height: .1rem;
    background-color: #adff2f;

    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}


/* albums section */
.albums_section {
    color: white;
    max-width: 1500px;
}
.albums_section p {
    color: grey;
}
.albums_section > p {
    margin-left: 1rem;
}
.album {
    text-align: center;
    padding: 1rem;
    width: calc(100% / 6);
}
.artisti img {
    border-radius: 50%;
}
/* ----- END MAIN CONTENT ----- */

/* ________ END MAIN ________ */




/* ________ FOOTER ________ */
footer {
    height: 6rem;
    background-color: #282828;

    padding: 0 .5rem;
    position: relative;
    z-index: 9999;
}

/* ------- LEFT COLUMN FOOTER ------- */
.artist_of_playing_song {
    color: grey;
}

.artist_of_playing_song p {
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1rem;
}
.artist_of_playing_song span {
    color: gray;
    font-weight: unset;
    font-size: .85rem;
}

.artist_of_playing_song img {
    max-width: 3rem;
}


/* spacing items */
.artist_of_playing_song  :nth-child(1) {
    margin-right: .75rem;
}
.artist_of_playing_song > :nth-child(1) {
    margin-right: 2rem;
}
/* ------- END LEFT COLUMN FOOTER ------- */


/* ------- MIDDLE COLUMN FOOTER ------- */
.current_song_options {
    text-align: center;
    color: white;
}

.play_btn {
    font-size: 2rem;
}

/* song timeline */
.song_timeline {
    font-size: .75rem;
    font-weight: 400;
}

.song_timeline .before_dot {
    width: 5vw;
}
.song_timeline .after_dot {
    width: 25vw;
}


/* spacing icons */
.song_options * {
    margin: 0 .5rem .75rem .5rem;
    vertical-align: middle;
}
.song_options :first-child,
.song_options :last-child {
    margin-left: 1rem;
    margin-right: 1rem;
}
/* ------- END MIDDLE COLUMN FOOTER ------- */


/* ------- RIGHT COLUMN FOOTER ------- */
.spotify_quick_settings {
    color: white;
    font-size: .75rem;
}

.spotify_quick_settings .before_dot {
    width: 2rem;
}
.spotify_quick_settings .after_dot {
    width: 6rem;
}

/* spacing items */
.spotify_quick_settings *:not(.after_dot) {
    margin-left: .75rem;
}
/* ------- END RIGHT COLUMN FOOTER ------- */

/* ________ END FOOTER ________ */