* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 600;
}


/* ________ SCROLLBAR STYLES ________ */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 156, 156, 0.815) transparent;
  }
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(156, 156, 156, 0.815);
    border-radius: 20px;
    border: 1px solid transparent;
}
/* ________ END SCROLLBAR STYLES ________ */



/* ________ COMMON STYLES ________ */
.flex {
    display: flex;
}
.justify_space_between {
    justify-content: space-between;
}
.justify_center {
    justify-content: center;
}
.align_items_center {
    align-items: center;
}

/* PROGRESSION LINE */
.before_dot,
.after_dot {
    display: inline-block;
    height: 4px;
    vertical-align: middle;
}

.before_dot {
    border-radius: 1rem 0 0 1rem;
    background-color: #c1c1c1;
    margin-left: 1rem;
    position: relative;
}

.hover_progression_line {
    display: inline-block;
    cursor: pointer;
}
.hover_progression_line:hover .before_dot {
    background-color: yellowgreen;
} 
.hover_progression_line:hover .before_dot::after {
    background-color: white;
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
} 

.after_dot {
    border-radius: 0 1rem 1rem 0;
    background-color: #5a5a5a;
    margin-right: 1rem;
}
/* END PROGRESSION LINE */


a {
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}


/* GROW HOVER EFFECTS */
.hover_grow {
    transition: transform 200ms ease-in-out;
}
.hover_grow:hover {
    transform: scale(1.1);
}

.hover_grow2 {
    transition: transform 200ms ease-in-out;
}
.hover_grow2:hover {
    transform: scale(1.25);
}
/* END GROW HOVER EFFECTS */

/* ________ END COMMON STYLES ________ */




/* ________ MAIN ________ */
main {
    height: calc(100vh - 6rem);
}

/* ----- LEFT NAVIGATION ----- */
.left_navigation {
    width: 12rem;
    background-color: #000000;
    color: #a3a3a3;
    font-size: .8rem;

    padding-left: .7rem;
    padding-right: .7rem;

    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
}

.left_navigation li {
    text-transform: capitalize;
}

.logo_big {
    width: 8rem;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
}

/* MOBILE LEFT NAVIGATION */
.nav_mobile_version {
    display: none;
}
@media screen and (max-width: 600px) {
    .nav_mobile_version {
        display: flex;
        width: 3rem;
        padding: .6rem;
    }
    .nav_mobile_version a {
        margin-top: .35rem;
        width: 1.5rem;
    }

    .navigation_desktop {
        display: none;
    }

    .nav_mobile_version .download_app {
        margin-top: auto;
        padding-right: 3px;
    }
}
/* END MOBILE LEFT NAVIGATION */


/* NAV OPTIONS SECTION */
.nav_options img {
    width: 1.25rem;
    vertical-align:bottom;
}

.nav_options li {
    padding-top: .4rem;
    padding-bottom: .4rem;
}
.nav_options li a:hover {
    color: white;
}

.nav_options .active {
    color: white;
    border-left: 3px greenyellow solid;
    position: relative;
    left: -0.7rem;
    padding-left: calc(.7rem - 3px);
}
/* END NAV OPTIONS SECTION */



/* PLAYLIST SECTION */
.list_of_playlists {
    overflow-y: auto;
    flex-grow: 1;
}
.list_of_playlists li {
    margin: .85rem 0;
}

.left_navigation h3 {
    color: white;
    font-size: .8rem;
    margin-top: 1rem;
}

.add_playlist {
    margin-top: .75rem;
    cursor: pointer;
}
.add_playlist:hover,
.list_of_playlists li:hover {
    color: white;
}
.add_playlist:hover .add_playlist_plus_icon {
    background-color: white;
}
.add_playlist_plus_icon {
    font-size: 1.1rem;
    display: inline-flex;
    vertical-align: middle;
    height: 1.85rem;
    width: 1.85rem;
    color: #000;
    background-color: #a3a3a3;
}
/* END PLAYLIST SECTION */


/* USER INFO SECTION */
.user_info * {
    margin: .3rem 0;
}

.user_info .download_icon,
.user_info .profile_image {
    vertical-align: middle;
    margin-right: .5rem;
}

.user_info .download_icon {
    width: 1.25rem;
}
.download_app:hover {
    color: white;
    cursor: pointer;
}

.user {
    color: white;
}
.user_info .profile_image {
    width: 1.75rem;
}
.profile_image {
    background-color: grey;
    border-radius: 50%;
}
/* END USER INFO SECTION */

/* ----- END LEFT NAVIGATION ----- */


/* ----- MAIN CONTENT ----- */
.main_content {
    overflow-y: auto;
    position: relative;
    padding-top: 5.5rem;
    width: 100%;
    background-color: #141922;
}

/* CTA BENNER */
.subscribe_CTA {
    background-color: rgba(0, 0, 0, 0.637);
    position: fixed;
    top: 0;
    right: 0;
    left: 12rem;
    height: 5rem;

    justify-content: flex-end;
}
.subscribe_CTA_btn {
    background-color: transparent;
    border: 1px white solid;
    padding: .65rem 2rem;
    margin-right: 2rem;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .subscribe_CTA {
        left: 3rem;
    }
}
@media screen and (max-width: 450px) {
    .subscribe_CTA_btn {
        font-size: .8rem;
        padding: .5rem 1rem;
    }
}
/* END CTA BENNER */


/* MUSIC FILTERS */
.music_filters {
    width: 100%;
    flex-wrap: wrap;
    line-height: 0;
}
.music_filters a {
    margin: 1rem .75rem;
    text-transform: uppercase;
    color: grey;
    font-size: .8rem;
    position: relative;
}
.music_filters a:hover {
    color: white;
}
.music_filters a.active::after {
    content: '';
    display: block;
    width: 1.75rem;
    height: .1rem;
    background-color: #adff2f;

    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
/* END MUSIC FILTERS */


/* ALBUMS SECTION */
.albums_section {
    color: white;
    max-width: 1500px;
}
.albums_section p {
    color: grey;
}
.albums_section > p {
    margin-left: 1rem;
}
.albums_section h3 {
    margin: .25rem 0;
}
@media screen and (max-width: 450px) {
    .albums_section h3 {
        font-size: .9rem;
    }    
    .albums_section p {
        font-size: .7rem;
    }
}

h2 {
    margin: 1.5rem 0 .5rem 0;
    margin-left: 1rem;
}
@media screen and (max-width: 450px) {
    h2 {
        font-size: 1.25rem;
    }    
}

.album img {
    display: block;
}

.album {
    text-align: center;
    padding: 1rem;
    width: calc(100% / 6);
    cursor: pointer;
}
@media screen and (max-width: 1100px) {
    .album {
        width: calc(100% / 4);
    }

    .albums_wrapper {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 700px) {
    .album {
        width: calc(100% / 2);
    }
} 

.artisti .album_image {
    border-radius: 50%;
    overflow: hidden;
}

/* hover effect */
.album_image {
    position: relative;
}
.album_image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.album_image::after {
    content: '\f144';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;

    transition: font-size 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.album_image:hover::after {
    opacity: 1;
    font-size: 3.5rem;
}
.album_image:hover::before {
    background-color: rgba(0, 0, 0, 0.514);
}
/* END ALBUMS SECTION */

/* ----- END MAIN CONTENT ----- */

/* ________ END MAIN ________ */




/* ________ FOOTER ________ */
footer {
    min-height: 6rem;
    background-color: #282828;

    padding: 0 .5rem;
    position: relative;
    z-index: 9999;
}

/* ------- LEFT COLUMN FOOTER ------- */
.artist_of_playing_song {
    color: grey;
}
.artist_of_playing_song i:hover {
    color: white;
}

.artist_of_playing_song p {
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1rem;
}
.artist_of_playing_song span {
    color: gray;
    font-weight: unset;
    font-size: .85rem;
}

.artist_of_playing_song img {
    max-width: 3rem;
}


/* spacing items */
.artist_of_playing_song  :nth-child(1) {
    margin-right: .75rem;
}
.artist_of_playing_song > :nth-child(1) {
    margin-right: 2rem;
}


@media screen and (max-width: 480px) {
    .artist_of_playing_song p,
    .artist_of_playing_song i {
        display: none;
    }

    .artist_of_playing_song  :nth-child(1) {
        margin-right: 0;
    }
    .artist_of_playing_song > :nth-child(1) {
        margin-right: 0;
    }
    
}
/* ------- END LEFT COLUMN FOOTER ------- */


/* ------- MIDDLE COLUMN FOOTER ------- */
.current_song_options {
    text-align: center;
    color: white;
}

.play_btn {
    font-size: 2rem;
}

@media screen and (max-width: 830px) {
    .song_options * {
        font-size: .8rem;
    }

    .play_btn {
        font-size: 1.2rem;
    }
}

/* song timeline */
.song_timeline {
    font-size: .75rem;
    font-weight: 400;
}

.song_timeline .before_dot {
    width: 5vw;
}
.song_timeline .after_dot {
    width: 25vw;
}
@media screen and (max-width: 830px) {
    .song_timeline .before_dot {
        width: 5vw;
    }
    .song_timeline .after_dot {
        width: 15vw;
    }    
}


/* spacing icons */
.song_options * {
    margin: 0 .5rem .75rem .5rem;
    vertical-align: middle;
    cursor: pointer;
}
.song_options :first-child,
.song_options :last-child {
    margin-left: 1rem;
    margin-right: 1rem;
}
/* ------- END MIDDLE COLUMN FOOTER ------- */


/* ------- RIGHT COLUMN FOOTER ------- */
.spotify_quick_settings {
    color: white;
    font-size: .75rem;
}

.show_other_settigs {
    display: none;
}

.spotify_quick_settings .before_dot {
    width: 2rem;
}
.spotify_quick_settings .after_dot {
    width: 6rem;
}
@media screen and (max-width: 830px) {
    .spotify_quick_settings .before_dot {
        width: 1rem;
    }
    .spotify_quick_settings .after_dot {
        width: 3rem;
    }    

    .spotify_quick_settings {
        font-size: .65rem;
    }
}
@media screen and (max-width: 650px) {
    .show_other_settigs {
        display: block;
        color: white;
        margin-right: 1rem;
    }

    .spotify_quick_settings {
        display: none;
    }
}

/* spacing items */
.spotify_quick_settings *:not(.after_dot) {
    margin-left: .75rem;
}
/* ------- END RIGHT COLUMN FOOTER ------- */

/* ________ END FOOTER ________ */